@import '../../mixins.scss';
.blur {
    filter: blur(5px);
    pointer-events: none;
  }
.update-form {
    background: #b8b8b8;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 9;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    @include md{
        width: 95%;
        left: 2%;
        right: 2%
    }
    .cross {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        svg {
          cursor: pointer;
          color: white;
          font-size: 1.1rem;
        }
      }
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
      }

      input, textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .room-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .room-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         margin-bottom: 2rem;
         .room-info-col{
            display: flex;
            gap: 3rem;
            width: 100%;
            label{
                margin-top: 0.5rem;
                strong{
                    display: flex;
                }
            }
             input {
                width: 100%;
               padding: 10px;
               border: 1px solid #ccc;
               border-radius: 5px;
               margin-bottom: 5px;
             }
         }
      }

      .add-room-button {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        &:hover {
          background-color: #45a049;
        }
      }
    }
    .update-button{
        background-color: #282828;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        &:hover {
            background-color: #4b4b4b;
        }
        
    }
  }
.admin-panel {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
  
    h1 {
      margin-bottom: 20px;
    }
  
    .hotel-card {
      background: #fff;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 80%;
  
      h2 {
        margin-bottom: 10px;
      }
  
      .room-type {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
  
        .room-info {
          display: flex;
          flex-direction: column;
  
          span {
            margin-bottom: 5px;
          }
        }
  
        .availability {
          display: flex;
          align-items: center;
  
          input {
            width: 50px;
            margin-right: 10px;
          }
        }
      }
  
      .update-button {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #45a049;
        }
      }
    }
  }
  