@import "../../mixins.scss";

.user{
  display: flex;
}
.header_u {
  position: sticky;
  top: 0;
  background-color: #1e7471;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  @include md{
    padding: 10px;
  }
  .header-main {
    display: flex;
    justify-content: space-between;
    .logo_u {
      img {
        height: 40px;
      }
    }
    .menu-icon_u {
      margin-left: 3rem;
      margin-top: 0.2rem;
      font-size: 1.5rem;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include md{
      flex-direction: column;
      align-items: flex-start;
    }
    nav {
      display: flex;
      gap: 20px;
      margin-right: 5rem;
      @include md{
        margin-right: 0;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        font-family: "Arial, sans-serif";
        margin: 0 10px;
        transition: color 0.3s ease;
        &:hover {
          color: #ff5a5f;
        }
      }
    }

    .auth-buttons_u {
      display: flex;
      gap: 10px;
      .logout{
        display: flex;
        gap: 1rem;
        @include md{
          flex-direction: column;
          gap: 0;
        }
        .profile_u{
          height: 2.8rem;
          margin-top: 0.5rem;
          padding: 0.1rem 2rem;
          @include md{
            margin-top: 0;
          }
        }
      }
      button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Arial, sans-serif";
        transition: background-color 0.3s ease;

        &.sign-in_u {
          margin-right: 1rem;
          background-color: #ff5a5f;
          color: white;
          @include md{
            margin-right: 0;
            margin-bottom: 0.4rem;
          }
          &:hover {
            background-color: #e04e50;
          }
        }

        &.sign-up_u {
          background-color: #fff;
          color: #ff5a5f;

          &:hover {
            background-color: #ff5a5f;
            color: #fff;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    .logo_u {
      img {
        height: 35px;
      }
    }
    .menu {
      display: flex;
      z-index: 999;
      nav {
        margin: 1.5rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        z-index: 999;
      }

      .auth-buttons_u {
        flex-direction: column;
        width: 100%;
        gap: 5px;
        z-index: 999;
        button {
          width: 19rem;
        }
      }
    }
  }
}
